<h1>Editing friend</h1>

<%= render "form", friend: @friend %>
<br/>
<div>
  <table>
   <tbody>
    <tr>
      <td><%= link_to "Show this friend", @friend, class:"btn btn-info" %> </td>
      <td>  <%= link_to "Back to friends", friends_path, class:"btn btn-info" %></td>
      <td> <%= button_to "Destroy", @friend, method: :delete, onclick: "return confirm('Are you sure you want to delete?')", class:"btn btn-danger" %></td>
    
    </tr>
    
  </tbody>
</table>
</div>